.button,
.btn-flat {
    height: auto;
    padding: 1.25rem 1.5rem;

    text-align: center;
    line-height: 1.125rem;
    font-family: $font-primary;
    font-weight: 300;
    font-size: 1.125rem;

    @media #{$medium-and-up} {
        padding: 1.5rem 2rem;
    }

    &:hover {
        background: $white;
        border-color: $white;
        color: $font;
    }

    &.dark {
        &:hover {
            background: $font;
            border-color: $font;
            color: $white;
        }
    }

    &.primary {
        background: transparent;
        border-color: $medium;
        color: $dark;

        .waves-ripple {
            background: rgba( $white, 0.4 );
        }

        &:hover {
            background: $primary;
            border-color: $primary;
            color: $white;
        }
    }

    &-ghost {
        border: 0.0625rem solid $white;
        color: $white;

        &:hover {
            color: $primary;
        }

        &.dark {
            border-color: $medium;
            color: $dark;

            .waves-ripple {
                background: rgba( $white, 0.4 );
            }
        }

        .waves-ripple {
            background: rgba( $primary, 0.4 );
        }
    }

    &-large {
        padding: 1.25rem 1rem;

        line-height: 1.5rem;
        text-transform: none;
        font-family: $font-heading;
        font-weight: 400;
        font-size: 1.5rem;

        @media #{$medium-and-up} {
            padding: 1.5rem 2rem;
            line-height: 2.25rem;
            font-size: 2.25rem;
        }
    }

    &.small {
        padding: 0.75rem 1rem;
        line-height: 1rem;
        font-family: $font-primary;
        font-weight: 300;
        font-size: 1rem;

        @media #{$medium-and-up} {
            padding: 1rem 2rem;
        }
    }
}