footer {
    width: 100%;
    margin-top: 4rem;
    padding: 2rem 0;

    background: $accent;
    color: $white;

    @media #{$medium-and-up} {
        margin-top: 8rem;
    }

    nav {
        height: auto;
        margin-bottom: 5rem;

        background: transparent;
        backdrop-filter: none;
        box-shadow: none;

        position: relative;

        ul {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;

            width: 100%;

            li {
                &.active,
                &:hover {
                    background: none;

                    a {
                        background: none;
                    }
                }

                a {
                    padding: 0 1.5rem;
                    text-transform: uppercase;

                    &:before {
                        display: none;
                    }
                }
            }
        }
    }

    ul.social {
        margin: 0 0 2rem;
    }

    .footer-copyright {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;

        @media #{$medium-and-up} {
            flex-flow: row nowrap;
        }

        span, a {
            line-height: 1rem;
            font-size: 1rem;
            color: $white;

            @media #{$small-and-down} {
                padding: 0.5rem 0;
            }

            &:after {
                @media #{$medium-and-up} {
                    content: '—';
                    display: inline-flex;
                    padding: 0 0.5rem;
                }
            }

            &:last-child {
                &:after {
                    display: none;
                }
            }
        }

        a {
            &:hover {
                text-decoration: underline;
            }
        }
    }
}