.inner-padding {
    &-y {
        padding-top: 4rem;
        padding-bottom: 4rem;

        @media #{$medium-and-up} {
            padding-top: 8rem;
            padding-bottom: 8rem;
        }

        &-top {
            padding-top: 4rem;

            @media #{$medium-and-up} {
                padding-top: 8rem;
            }
        }

        &-bottom {
            padding-bottom: 4rem;

            @media #{$medium-and-up} {
                padding-bottom: 8rem;
            }
        }
    }
}

main {
    max-width: 100vw;
    overflow: hidden;
}

.row {
    margin-bottom: 0;
}

figure {
    display: flex;
    margin: 0 !important;
    padding: 0 !important;

    overflow: hidden;

    img {
        margin: 0;
        vertical-align: text-bottom;
    }
}

ul.social {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    li {
        a {
            padding: 0.75rem;
            font-size: 1.5rem;
            color: $white;
        }
    }
}

ul.deco {
    @extend p;
    padding: 0;

    li {
        display: flex;
        flex-flow: row nowrap;
        align-items: baseline;
        margin: 0;
        padding: 0.5625rem 0;
        position: relative;

        font-weight: 500;

        &:before {
            @extend %fa-icon;
            @extend .fas;
            content: fa-content($fa-var-check);
            min-width: 2.5rem;

            line-height: 1rem;
            font-size: 1rem;
            color: $accent;

            @media #{$small-and-down} {
                min-width: 2rem;
            }
        }
    }
}

.container {
    width: 100%;
    max-width: 87.5rem;
    padding: 0 2rem;

    box-sizing: border-box;

    position: relative;
    z-index: 10;

    @media #{$small-and-down} {
        padding: 0;
    }

    @media #{$large-and-up} {
        padding: 0 6.25rem;
    }
}

section {
    position: relative;

    .parallax-wrapper {
        width: 100%;
        height: 16rem;
        min-height: 16rem;
        overflow: hidden;

        @media #{$small-and-down} {
            margin-top: 2rem;
        }

        @media #{$medium-and-up} {
            height: 100%;
            min-height: 100%;
            padding: 0 0 0 40%;

            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }

        &.half {
            @media #{$medium-and-up} {
                width: calc( 50% - 2.5rem );
                padding: 0;

                & > .parallax-container {
                    height: 32rem;
                }
            }

            &.right {
                @media #{$medium-and-up} {
                    left: auto;
                }
            }
        }

        & > .parallax-container {
            min-height: 100%;
            height: 10rem;

            @media #{$medium-and-up} {
                height: 57.5rem;
            }

            & > .parallax {
                z-index: 1;

                img {
                    @media #{$small-and-down} {
                        width: 100%;
                    }
                }
            }
        }
    }

    &.section {
        &-hero {
            padding-top: 8rem;
            padding-bottom: 4rem;
            background: $primary;
            color: $white;

            @media #{$medium-and-up} {
                padding-top: 14rem;
                padding-bottom: 8rem;
            }

            .italic {
                margin: 0;
                padding: 0;

                line-height: 1.75rem;
                font-family: $font-heading;
                font-weight: 400;
                font-size: 1.75rem;

                @media #{$medium-and-up} {
                    line-height: 3rem;
                    font-size: 3rem;
                }
            }

            .hero-image {
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;

                width: 100%;
                height: 100%;

                background: $primary;
                overflow: hidden;

                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;

                img {
                    width: 100%;
                    height: auto;
                    mix-blend-mode: multiply;
                }
            }
        }

        &-services {
            .service {
                margin: 0 0 2rem;
                padding-right: 2.5rem;
                box-sizing: border-box;

                @media #{$medium-and-up} {
                    margin-bottom: 0;
                }

                &:first-child {
                    @media #{$medium-and-up} {
                        margin-bottom: 2.5rem;
                    }
                }

                h4 {
                    margin: 0;
                    padding: 0;
                }

                p {
                    margin: 0;
                    padding: 0;
                    line-height: 1.875rem;
                    font-weight: 300;
                    font-size: 1rem;
                    color: $font;
                }
            }
        }

        &-about {
            background: $light;

            @media #{$medium-and-up} {
                padding-bottom: 8rem;
            }

            .title-section {
                color: $font;
            }

            .button-ghost {
                width: 100%;

                @media #{$medium-and-up} {
                    width: auto;
                    margin-top: 2rem;
                }
            }
        }

        &-testimonial {
            blockquote {
                margin: 0;
                padding: 4rem 0; 

                border: none;
                position: relative;

                @media #{$medium-and-up} {
                    padding: 8rem 0 4rem; 
                }

                br {
                    @media #{$small-and-down} {
                        display: none;
                    }
                }

                &:before {
                    content: '';
                    width: 6.25rem;
                    height: 0.625rem;
                    margin-left: -3.125rem;

                    background: $accent;

                    position: absolute;
                    left: 50%;
                    bottom: 0;
                }
            }
        }

        &-portfolio {
            .portfolio-item {
                margin-bottom: 2rem;
                padding: 0 0.75rem;

                @media #{$medium-and-up} {
                    margin-bottom: 6.25rem;
                    padding: 0;
                }

                &:last-child {
                    margin-bottom: 0;
                }

                &:hover {
                    h1 {
                        color: $accent;
                    }
                }

                &:nth-child(even) {
                    .row {
                        flex-direction: column;

                        @media #{$medium-and-up} {
                            flex-direction: row-reverse;
                        }
                    }

                    .portfolio-item-content {
                        @media #{$medium-and-up} {
                            padding: 6rem 6.25rem 6rem 0;
                        }
                    }
                }

                .row {
                    display: flex;
                    flex-direction: column;
                    margin: 0;

                    @media #{$medium-and-up} {
                        flex-direction: row;
                    }
                }

                &-thumbnail {
                    display: flex;
                    flex-flow: column wrap;
                    background: $primary;

                    img {
                        width: 100%;
                        height: auto;
                    }
                }

                &-content {
                    display: flex;
                    flex-flow: column wrap;

                    padding: 2rem 0 0;
                    box-sizing: border-box;

                    @media #{$medium-and-up} {
                        padding: 6rem 0 6rem 6.25rem;
                    }

                    .type {
                        margin: 0 0 1rem;

                        text-transform: uppercase;
                        line-height: 1.875rem;
                        font-family: $font-heading;
                        font-weight: 700;
                        font-size: 1rem;
                        color: $accent;

                        @media #{$medium-and-up} {
                            margin: 0 0 2rem;
                        }
                    }

                    h1 {
                        display: flex;
                        flex-flow: column wrap;

                        margin: 0 0 1rem;
                        padding: 0;

                        text-transform: uppercase;
                        line-height: 1.875rem;
                        font-family: $font-heading;
                        font-weight: 700;
                        font-size: 1.875rem;
                        color: $font;

                        transition: $transition;

                        @media #{$medium-and-up} {
                            margin: 0 0 2.5rem;
                        }
                    }
                }
            }
        }

        &-help {
            min-height: 32rem;
        }

        &-team {
            .title-section {
                padding-bottom: 4.5rem;
            }

            .team {
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;

                width: 100%;

                &:after {
                    content: none;
                    display: none;
                }

                &-item {
                    width: calc( (100% / 3 ) - 2rem );
                    margin: 0 0 4rem !important;

                    @media #{$medium-and-up} {
                        max-width: 20rem;
                        margin: 0 !important;
                    }

                    &:hover {
                        figure {
                            img {
                                transform: scale(1.2);
                            }

                            .overlay {
                                opacity: 1;
                                pointer-events: all;
                            }
                        }
                    }

                    figure {
                        width: 100%;
                        height: auto;
                        margin-bottom: 2rem !important;
                        padding: 100% 0 0 !important;

                        -webkit-mask-image: -webkit-radial-gradient(white, black);
                        border-radius: 100%;
                        position: relative;

                        @media #{$medium-and-up} {
                            margin-bottom: 3.5rem !important;
                        }

                        img {
                            width: 100%;
                            height: 100%;

                            object-fit: cover;

                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            z-index: 10;

                            transform: scale(1);
                            transition: $transition-cubic;
                        }

                        .overlay {
                            display: flex;
                            flex-flow: row wrap;
                            justify-content: center;
                            align-items: center;

                            margin: 0;
                            padding: 0;

                            background: rgba( $accent, 0.8 );
                            opacity: 0;
                            pointer-events: none;

                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            z-index: 20;

                            transition: $transition;
                        }
                    }

                    h1, span {
                        display: flex;
                        flex-flow: row wrap;
                        justify-content: center;

                        width: 100%;
                        margin: 0;
                        padding: 0;

                        text-align: center;
                        line-height: 1.875rem;
                        font-family: $font-primary;
                        font-size: 1.125rem;
                    }

                    h1 {
                        font-weight: 700;
                        color: $font;
                    }

                    span {
                        font-weight: 300;

                        &.job {
                            color: $font;
                        }

                        &.alias {
                            color: $accent;
                        }
                    }
     
                }
            }
        }

        &-clients {
            .title-section {
                padding-bottom: 2.5rem;

                @media #{$medium-and-up} {
                    padding-bottom: 2rem;
                }
            }

            .clients {
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;

                width: 100%;

                &:after {
                    content: none;
                    display: none;
                }

                &-item {
                    max-width: 100%;
                    margin: 2rem 0 0 !important;

                    @media #{$medium-and-up} {
                        max-width: calc( (100% / 3 ) - 0.5rem );
                        margin: 2.5rem 0 !important;

                        &:hover {
                            figure {
                                img {
                                    transform: scale(1.2);
                                }

                                .overlay {
                                    opacity: 1;
                                    pointer-events: all;

                                    .type,
                                    h1 {
                                        opacity: 1;
                                        transform: translateY(0);
                                    }
                                }
                            }
                        }
                    }

                    @media #{$large-and-up} {
                        max-width: calc( (100% / 3 ) - 2rem );
                    }

                    figure {
                        background: $primary;
                        position: relative;

                        @media #{$small-and-down} {
                            display: flex;
                            flex-flow: column wrap;
                        }

                        @media #{$medium-and-up} {
                            padding: 100% 0 0 !important;
                        }

                        img {
                            width: 100%;
                            height: auto;

                            @media #{$medium-and-up} {
                                width: calc( 100% - 2.75rem );
                                height: 100%;
                                object-fit: cover;

                                position: absolute;
                                top: 1.375rem;
                                left: 1.375rem;
                                right: 1.375rem;

                                transform: scale(1);
                                transition: $transition;
                            }
                        }

                        .overlay {
                            display: flex;
                            flex-flow: column wrap;
                            justify-content: center;
                            align-items: center;

                            padding: 2rem 0 3rem;

                            background: rgba( $primary, 0.8 );
                            pointer-events: none;

                            color: $white;
                            transition: $transition;

                            @media #{$medium-and-up} {
                                padding: 2.375rem;
                                backdrop-filter: blur(0.25rem);
                                opacity: 0;
                                position: absolute;
                                top: 0;
                                left: 0;
                                right: 0;
                                bottom: 0;
                            }

                            .type,
                            h1 {
                                display: flex;
                                flex-flow: column wrap;
                                justify-content: center;

                                margin: 0;
                                padding: 0;

                                text-align: center;
                                text-transform: uppercase;
                                line-height: 1.5rem;
                                font-family: $font-heading;
                                font-weight: 400;
                                font-size: 1.5rem;

                                @media #{$small-and-down} {
                                    line-height: 1.875rem;
                                    font-size: 1.875rem;
                                }

                                @media #{$medium-and-up} {
                                    opacity: 0;
                                    transform: translateY(1.5rem);
                                    transition: $transition-cubic;
                                }

                                @media #{$large-and-up} {
                                    line-height: 1.875rem;
                                    font-size: 1.875rem;
                                }
                            }

                            h1 {
                                transition-delay: 80ms;
                            }

                            .type {
                                margin-bottom: 1rem;

                                @media #{$small-and-down} {
                                    line-height: 1.125rem;
                                    font-size: 1.125rem;
                                    color: rgba( $white, 0.75 );
                                }

                                @media #{$medium-and-up} {
                                    margin-bottom: 1.875rem;
                                    font-weight: 700;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}