.header-fixture {
    width: 100%;
    height: auto;

    position: absolute;

    @media #{$medium-and-up} {
        top: 3.5rem;

        &.fixed {
            header.navbar {                
                position: fixed;

                nav {
                    background: rgba( $primary, 0.94 );
                    backdrop-filter: blur(0.25rem);
                }
            }
        }
    }
}

header.navbar {
    width: 100%;
    height: auto;

    position: fixed;
    top: 0;
    z-index: 900;

    @media #{$medium-and-up} {
        position: absolute;
    }
}

.sidenav {
    &-trigger {
        margin: 0;
        padding: 0 1rem;
    }

    li {
        height: auto;

        &.active {
            & > a {

            }
        }

        & > a {
            height: auto;
            padding: 1.5rem 2rem;

            line-height: 1rem;
            font-size: 1rem;
        }
    }
}

nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    height: auto;

    background: rgba( $primary, 0 );
    backdrop-filter: blur(0);
    box-shadow: none;

    z-index: 100;
    position: absolute;
    top: 0;

    @media #{$medium-and-up} {
        transition: $transition-cubic;
        transition-property: backdrop-filter, background;
    }

    @media #{$small-and-down} {
        background: rgba( $primary, 0.94 );
        backdrop-filter: blur(0.25rem);
    }

    .sidenav {
        &-trigger {
            margin: 0;
            padding: 0 1rem;
        }
    }

    .container {
        padding: 0.5rem 0.75rem;

        @media #{$medium-and-up} {
            padding: 1.25rem 2rem;
        }

        @media #{$large-and-up} {
            padding: 1.5rem 2rem;
        }
    }

    .nav-wrapper {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;

        .logo {
            height: 3rem;
            opacity: 1;

            transform: scale(1);
            transition: $transition-cubic;

            &.hidden {
                opacity: 0;
                transform: scale(0.95);
            }

            img {
                width: auto;
                height: 3rem;
            }
        }

        ul {
            li {
                &.active,
                &:hover {
                    background: none;

                    a {
                        background: none;

                        &:before {
                            width: 1rem;
                        }
                    }
                }

                &.active a {
                    &:before {
                        background: $accent;
                    }
                }

                &:first-child {
                    &.active {
                        a {
                            &:before {
                                display: none;
                            }
                        }
                    }
                }

                a {
                    margin: 0;
                    padding: 1rem 1.25rem;

                    text-transform: uppercase;
                    line-height: 0.9375rem;
                    font-size: 0.9375rem;

                    position: relative;

                    &:before {
                        content: '';
                        width: 0;
                        height: 0.1875rem;
                        background: $white;

                        position: absolute;
                        bottom: 0;
                        left: 1.25rem;

                        transition: $transition;
                    }
                }
            }
        }
    }
}