// Color settings
$primary:   #260089;
$accent:    #fa4d09;
$font:      #454545;

$white:     #ffffff;
$light:     #ececea;
$medium:    #afafad;
$dark:      #454545;

$transition: all 240ms ease-out;
$transition-cubic: all 160ms cubic-bezier(0.645, 0.065, 0.375, 1.010);